.downBtn {
    position: relative;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    height: 50px;
    color: var(--gray);
}

.downBtn:before {
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--weak-black);
    position: absolute;
    left: 0;
    top: 22px;
}

.downSVG {
    width: 32px;
    transition: var(--fast-animation);
}

.rotate180 {
    transform: rotate(180deg);
}
