.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input {
    padding: 6px 6px 6px 18px;
    border: 2px solid var(--gray);
    border-radius: 12px;
    color: var(--font-color);
    transition: var(--fast-animation);
}

.label {
    padding-left: 8px;
}

.input:disabled {
    color: gray;
    cursor: not-allowed;
}

.input::placeholder {
    color: var(--gray);
}

.input:focus {
    border-color: white;
}

.info {
    font-size: 14px;
    padding-left: 8px;
}
