.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80vw;
    transition: all 1s;
}

.h1 {
    position: relative;
    padding-bottom: 16px;
    font-size: 20px;
    text-align: center;
    color: var(--font-color);
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}

.h1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--weak-black);
    top: 36px;
    left: 0;
}

.ok {
    position: absolute;
}

@media screen and (min-width: 376px) {
    .container {
        width: 50vw;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 30vw;
    }
}
