.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn {
    align-self: center;
}
